#my_profile
  .profile_name
    %h1 
      = current_user.first_name

  %p
    .profile_avatar
      = image_tag current_user.avatar.url, :class => "userimage"

  %p
    .bio
      = current_user.bio

  %div.collections_container
    
    