#user_profile
  :javascript
    window.user_id = #{@user.id}
  .profile_name
    %h1 
      = @user.first_name

  %p
    .profile_avatar
      = image_tag @user.avatar.url, :class => "userimage"

  %h4
    .bio
      = @user.bio
  %div.collections_container
