
.heading
  %h1   
    Collections

/ .search
/   = search_form_for @q, url: search_path  do |f|
/     = f.label :itle_cont
/     = f.search_field :title_cont
/     = f.submit



.ajaxloader
  = image_tag "/assets/ajax-loader.gif"
  %h2
    = "Loading"


%ul#grid.search
  = render @photos
  


 
%br
