%h1 Photos with tag
%ul#grid.search
  = render @photos

/ %table
/   %tr
/     %th Title
/     %th Caption
/     %th User
/     %th Collection
/     %th Image
/     %th
/     %th
/     %th

/   - @photos.each do |photo|
/     %tr
/       %td= photo.title
/       %td= photo.caption
/       %td= photo.user
/       %td= photo.collection
/       %td= photo.image
/       %td= link_to 'Show', photo
/       %td= link_to 'Edit', edit_photo_path(photo)
/       %td= link_to 'Destroy', photo, :method => :delete, :data => { :confirm => 'Are you sure?' }

/ %br

/ = link_to 'New Photo', new_photo_path
