// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#grid {
  list-style-type: none;
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  

}

/**
 * Grid items
 */
#grid li {


width: 210px;
background-color: #ffffff;
border: 1px solid #dedede;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
display: none; /** Hide items initially to avoid a flicker effect **/
  cursor: pointer;
padding: 4px;

}


#grid li.inactive {
  visibility: hidden;
  opacity: 0;
}

#grid li img {
/*  display: block;
*/  
}

/**
 * Grid item text
 */
#grid li p {
  color: #666;
  font-size: 16px;
  line-height: 20px;
  text-align: top;
  font-weight: 200;
  margin: 7px 0 2px 7px;
  display: inline;
}

#grid li:nth-child(3n) {
height: 210px;
}

#grid li:nth-child(4n-3) {
padding-bottom: 30px;
}

#grid li:nth-child(5n) {
height: 350px;
}

#grid li.zoomed {
  margin: auto;
  width: 70%;
  height: 5000px;
  vertical-align: center;
  z-index: 100;
}
#grid li.zoomed .homephotos {
 border: 2px white;
  
}

.user_photo_comments {
 -moz-border-radius:52px;
 -webkit-border-radius:52px;
 border-radius:52px;
width:50px;
height:50px;
text-align: bottom;
opacity:1;
margin-bottom: 0;
display: inline;

}



.users {
  border-radius: 4px;
  border: 1px solid lightgrey;
  padding:2px;
  margin-top: 1px;

  h2 {
    font-size: 20px;
    font-family: "Trebuchet MS";

  }

  p {


  }

}

.commentbox {
  width: 60%;
  height: 80px;
  border-radius: 4px;

}
.photoContent{
  float: right;
  width: 35%;
  h2, h3 {
    display:inline;
  }

}
.photoTags{
  p{
    font-weight: bold;
    background-color: lightgrey;
    padding: 3px;
    border-radius: 4px;

  }
  
}

.heading {

  h1 {

    text-align: center;
    padding-top: 10px;
    color: darkgrey;
    font-family: "Trebuchet MS";
  }
}



/*
.homephotos {

  width: 300px;
  height: 400px;
  border-color: white;
  border:3px;
  padding: 5px;
  border-radius: 3px;
}

.container {
  width: 30%;
  height: 450px;
  display: inline;
  background-color: red;
   padding: 5px;

}

*/