.profile_name{
  float: left;
  margin-left: 3%;
  clear: both;
}

.userimage{
  -moz-border-radius:52px;
  -webkit-border-radius:52px;
  border-radius:52px;
  width:100px;
  height:100px;
  text-align: bottom;
  opacity:1;
  margin-bottom: 0;
  margin-left: 10%;
}

.thumbnailimage{
  -moz-border-radius:52px;
  -webkit-border-radius:52px;
  border-radius:52px;
  width:50px;
  height:50px;
  margin-bottom: 0;
}

.avatar {
  float: left;
  margin-left: 3%;
  clear: both;
}

.bio {
  float: left;
  margin-left: 10%;
}